<p id="notice"><%= notice %></p>

<div style="padding-top: 10%" />

<h1 id="shop_title">
  Fiends &amp; Family Sale
  <div style="margin-bottom: -2px;"></div>
  <span style="opacity: 0.7; font-weight: 400;">
  Printemps-Ete 2016
  </span>

</h1>

<table>
  <tbody>

    <% @products.each do |product| %>
        
        <td>
          <a class="noun" href= "/products/<%= product.id %>">
            <img src="<%= product.image_url %>" id="product_photo" />
          </a>

          <% if user_signed_in? %>
            <%= link_to 'Show', product %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %> 
        </td>
        
    <% end %>

  </tbody>
</table>



<% if user_signed_in? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
<div style="padding-top: 10%" />
