<p id="notice"><%= notice %></p>


  <div id="right">

    <img src="<%= @product.image_url %>" />

  </div>

  <div id="left">

      <h1 id="product_name">
        <%= @product.title %>
        <br /><br />
      </h1>

        <form id="choosesize" action="/cart/<%= @product.id %>" method="get">

            <span id="price">
              <%= @product.price %>
            </span>

            <span id="purchase">
              <%= submit_tag("ADD TO CART", :class => "fuckmylife") %>
            <span>

          <br /><br />
          <div id="sizebuttons">
            <input id="option" type="radio" name="sizing" value="S" checked>
            <label for="option">S</label>
            
            <input id="option" type="radio" name="sizing" value="M">
            <label for="option">M</label>

            <input id="option" type="radio" name="sizing" value="L">
            <label for="option">L</label>

            <input id="option" type="radio" name="sizing" value="XL">
            <label for="option">XL</label>
          </div>
          <br /><br />
          <br /><br />
          <br /><br />
        </form>

      <p id="product_about">
        <%= @product.description %>
      </p>



      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_product_path(@product) %>
      <p> <%= @product.category %> / <%= @product.subcategory %> </p>
      <% end %>

  </div>
  


