<p id="notice"><%= notice %></p>



<div id="content">

  <div id="left">

      <h1 id="product_name">
        <%= @product.title %>
        <br /><br />
      </h1>

      <h2 id="product_price">
        <%= @product.price %>
        <a href="/cart/<%= @product.id %>"> Add to cart</a>
        <br /><br />
        <br /><br />
        <br /><br />
        <br /><br />
      </h2>

      <p id="product_about">
        <%= @product.description %>
      </p>


      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_product_path(@product) %>
      <p> <%= @product.category %> / <%= @product.subcategory %> </p>
      <% end %>

  </div>
  <div id="right">

    <img src="<%= @product.image_url %>" />

  </div>
</div>

