<!DOCTYPE html>
<html>

<head>
  <title>BLACKWATER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  

<nav id="nav">
    <a href="/">
      <div id="logo">
          <img src='https://s3.amazonaws.com/bwla/new%2Blogo.png' />
          <h1>BLACKWATER ATELIER</h1>
          <h2>los angeles</h2>
        </a>
      </div>
    </a>
    <div id="shop_nav">
      <%= link_to "Shop", products_path %>
    </div>

    <div id="cart_nav">
      <%= link_to "Cart", cart_path %>
    </div>
</nav>


<div class="wrapper">
  <div id="alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

<div id="main_wrap">
    <%= yield %>
</div>



<div class="push"></div>
</div>

<div style="padding-top: 5%" />

<div class="footer">
      <%= link_to "Press", new_user_session_path %>
      <%= link_to "Mailing List", page_mailing_path %>
      <%= link_to "Legal", page_legal_path %>
      <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "Sign In", new_user_session_path %>
      <% end %>

      <h3>CONCIEVED IN LA / TRANSCENDED IN PARIS / CONSERVE BLACKWATER</h3>

</div>

</body>
</html>
